@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;600&family=Karla&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Manrope:wght@500;700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;600;700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background-color: var(--Red);
    background-image: url("images/bg-intro-desktop.png");
    font-family: Poppins;
}

main {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --white: white;
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
}

.container {
    width: 62%;
    display: flex;
    align-items: center;
}

.content {
    width: 50%;
    padding: 0.6rem;
}

.content h1 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.content p {
    width: 90%;
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: var(--white);
}

.form-side {
    width: 50%;
}

.head-block {
    font-size: 0.9rem;
    padding: 1rem;
    border-radius: 0.6rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 1.3rem;
    background-color: var(--Blue);
    box-shadow: 0px 6px 3px rgb(119, 119, 119);
}

.head-block span {
    opacity: 0.6;
}

.form-block {
    display: block;
    padding: 1.5rem;
    border-radius: 0.6rem;
    background-color: var(--white);
    box-shadow: 0px 6px 3px rgb(119, 119, 119);
}

.input-block {
    position: relative;
    margin-bottom: 1rem;
}

.input-block input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border-color: rgb(215, 215, 215);
}

.form-block button {
    border: none;
    width: 100%;
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    background-color: var(--Green);
}

.form-side button:hover {
    cursor: pointer;
    transition: background-color 0.5s;
    background-color: hsl(154, 73%, 68%);
}

.policy {
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    text-align: center;
}

.form-side a {
    font-weight: 800;
    text-decoration: none;
    color: var(--Red);
}

.sujjest {
    display: none;
    text-align: right;
    color: var(--Red);
    font-size: 0.7rem;
    margin-top: 0.3rem;
}

.error {
    display: none;
    position: absolute;
    right: 7%;
    top: 20%;
    width: 1.4rem;
}

@media screen and (max-width:900px) {
    main {
        height: 100%;
    }

    .container {
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: 4rem auto;
    }

    .content {
        width: 100%;
    }

    .form-side {
        width: 100%;
    }

    .content h1 {
        font-size: 1.7rem;
    }
}